# ==============================================================================
# This is an example environment configuration file.  You should create your own
# .env implementation by copying this file and filling in the empty spaces.
# ==============================================================================