* {
  font-family: $font--dia;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
  border-bottom: $border--thin $color--border;
  padding-bottom: $spacing--base;
  width: 100%;
}

h3 {
  @include h3;
}

p,
li {
  @include body;
}

a {
  @include link;
  transition: color $transition--fast;

  &:hover {
    color: $color--red;
  }
}

figcaption {
  @include caption;
}
