* {
  font-family: $font--dia;
}

h1 {
  @include h1;
}

p {
  @include body;
}

a {
  @include link;
  transition: color $transition--fast;

  &:hover {
    color: $color--red;
  }
}

figcaption {
  @include caption;
}
