@import '../../style/abstracts';

.container {
  @include padding($site-padding);
  display: flex;
}

.meta {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.sections {
  display: flex;
}

.section {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: $spacing--md;
  }
}

.title {
  margin-bottom: $spacing--base;
}

.label {
  color: $color--text-light;
  font-size: $font-size--xs;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: $spacing--xs;
  text-transform: uppercase;
}
