@keyframes grow {
  from {
    width: 0;
  }

  to {
    width: var(--width);
  }
}

$table-padding: $spacing--base;
$table-row-border: $table-padding solid $color--bg;

.container {
  @include margin(-$table-padding x);
  display: flex;
  flex-direction: column;
  position: relative;
}

.row {
  @include list-item-hover('.table', 0.3);
  align-items: center;
  border-bottom: $table-row-border;
  border-top: $table-row-border;
}

.table-column-min {
  padding-right: $spacing--lg;
  white-space: nowrap;
  width: 1%;
}

.type,
.value {
  @include body;
  line-height: 1;
}

.type {
  color: $color--text-light;
}

$bar-height: 14px;
$color--bar-bg: #f1f1f1;
$color--bar-value-base: #ffee9d;
$bar-colors: (#ff653b, #ffa53b, #e8d128, #10aac6, #10c647, #fa30e2);

.bar {
  background-color: $color--bar-bg;
  border-radius: $bar-height / 2;
  flex: 1;
  height: $bar-height;
}

.bar-value {
  animation: grow 500ms $ease-out-cubic;
  border-radius: $bar-height / 2;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: var(--width);

  &::after {
    @include absolute(0 x x 0);
    content: '';
    height: 100%;
    width: 100%;

    @each $color in $bar-colors {
      $i: index($bar-colors, $color) - 1;

      .row-#{$i} & {
        background: linear-gradient(to right, $color, $color--bar-value-base var(--grad-width));
      }
    }
  }
}
