/* Borders */
$border--thin: 1px solid;

/* Border radii */
$border-radius--sm: 2px;
$border-radius--md: 5px;

/* Colors */
$color--white: #ffffff;
$color--black: #000000;
$color--gray: #535353;
$color--gray-light: #d8d8d8;
$color--red: #ff3232;
$color--red-light: mix($color--white, $color--red, 50%);

/* Colors applied */
$color--bg: $color--white;
$color--bg-light: $color--gray-light;
$color--border: $color--gray-light;
$color--text: $color--black;
$color--text-light: $color--gray;

/* Fonts */
$font--system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font--dia: 'Dia', $font--system;

/* Font sizes */
$font-size--xs: 12px;
$font-size--sm: 14px;
$font-size--md: 18px;
$font-size--base: 24px;
$font-size--xl: 60px;

/* Spacing */
$spacing--xs: 5px;
$spacing--sm: 10px;
$spacing--base: 15px;
$spacing--md: 20px;
$spacing--lg: 30px;
$spacing--xl: 40px;

/* Sizes */
$site-padding: $spacing--lg;

/* Z indices */
$z-index--nav: 1000;
