@import '../../style/abstracts';

.container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.icon {
  @include size(100px);
  margin-bottom: $spacing--md;
}
