@import '../../style/abstracts';

.container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.image {
  height: 200px;
  image-rendering: pixelated;
  margin-bottom: $spacing--xl;
}

.title {
  margin-bottom: $spacing--base;
}

.body {
  margin-bottom: $spacing--xl;
}
