@import '../../style/abstracts';

.container {
  @include padding($nav-top-padding $site-padding);
  @include sticky(0 x x x);
  background-color: rgba($color--bg, 0.9);
  border-bottom: $border--thin $color--border;
  display: flex;
  flex-direction: row;
  z-index: $z-index--nav;
}

.link {
  @include margin(0 auto);
  @include size($nav-icon-height);
  transition: transform 200ms ease-out;

  @media (hover: hover) {
    &:hover {
      transform: rotate(-30deg);
    }
  }
}
