.container {
  @include padding($site-padding $site-padding $spacing--md);
  border: $border--thin $color--border;
  display: flex;
  justify-content: space-between;

  p,
  a {
    font-size: $font-size--md;
  }
}

.copyright {
  margin-bottom: $spacing--xs;
}
