.container {
  display: flex;
  flex: 1;
}

.main {
  @include padding($site-padding 0 $site-padding $site-padding);
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  align-items: center;
  display: flex;
  margin-bottom: $spacing--md;
}

.title {
  margin-right: $spacing--base;
}

.types {
  display: flex;
  margin-bottom: $spacing--xl;
}

.types-item {
  margin-right: $spacing--sm;
}

.physique {
  display: flex;
  margin-bottom: $spacing--lg;
}

.physique-section {
  &:not(:last-child) {
    margin-right: $spacing--xxl;
  }
}

.physique-list {
  display: flex;
}

.physique-item {
  &:not(:last-child) {
    margin-right: $spacing--md;
  }
}

.abilities,
.stats {
  margin-bottom: $spacing--xxl;
}

.list {
  display: flex;
  flex-direction: column;
}

.list-item {
  @include list-item-hover('.list');
  align-items: center;
  display: flex;

  &:not(:last-child) {
    margin-bottom: $spacing--xs;
  }
}

.hidden-label {
  @include label--small;
  color: $color--text-light;
  margin-left: $spacing--md;
}

.section-header {
  margin-bottom: $spacing--lg;
}

.stats-section,
.move-section {
  &:not(:last-child) {
    margin-bottom: $spacing--lg;
  }
}

.table {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;

  &:not(:first-child) {
    @include list-item-hover('.table');
  }
}

.table-column {
  display: flex;
  flex-direction: column;
  width: 100%;

  &--levels {
    min-width: 100px;
    width: 20%;
  }
}
