.container {
  @include hide-scrolling;
  @include padding($site-padding--sm $site-padding--sm $spacing--sm);
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;

  @include mq($bp--mobile) {
    @include padding($site-padding $site-padding $spacing--base);
  }

  @include mq($bp--tablet) {
    @include padding($site-padding $spacing--sm $site-padding $site-padding);
    @include sticky($nav-height x x 0);
    flex-shrink: 0;
    height: calc(100vh - #{$nav-height});
    overflow-x: visible;
    overflow-y: auto;
  }
}

.list {
  display: flex;

  @include mq($bp--tablet) {
    flex-direction: column;
  }
}

.item {
  &:last-child {
    padding-right: $site-padding;

    @include mq($bp--tablet) {
      padding-right: 0;
    }
  }

  &:not(:last-child) {
    padding-right: $spacing--md;

    @include mq($bp--tablet) {
      margin-bottom: $spacing--md;
      padding-right: 0;
    }
  }
}
