.container {
  @include hide-scrolling;
  @include padding($site-padding);
  @include sticky($nav-height x x 0);
  flex-shrink: 0;
  height: calc(100vh - #{$nav-height});
  -webkit-overflow-scrolling: smooth;
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  &:not(:last-child) {
    margin-bottom: $spacing--md;
  }
}
