.section {
  display: flex;
  flex-direction: column;
  padding-right: $site-padding;
}

.label {
  @include label;
  margin-bottom: $spacing--base;
}

.label-large {
  margin-bottom: $spacing--md;
}
